@{
    ViewBag.Title = "Home Page";
}


<h2><a href='@Url.Action("Create", "Home")' >ADD</a></h2>
<h2><a href='@Url.Action("Registrationlist", "Home")'>Employeelist</a>  </h2>
<h2><a href='@Url.Action("Emplist", "Home")'>Webgrid</a>  </h2>
 <h2><a href='@Url.Action("JqueryDatatable", "Home")'>JqueryDatatable</a>  </h2> 

<h2>@ViewBag.Message</h2>
<p>
 
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
